@model PersonelServisTakip.Models.Entity.PerformanceReview

@{
    ViewData["Title"] = "Performance Review Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1 class="display-4 text-center">Performance Review Details</h1>
    <div class="card mt-4 shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Review Information</h4>
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.ReviewDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ReviewDate)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Comments)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Comments)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Rating)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    Personnel
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Personel.Name)
                </dd>
            </dl>
        </div>
    </div>
    <div class="mt-4 text-center">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
    </div>
</div>
